################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppExpenseTracker
/AppExpenseTrackerApi/obj
/Application/obj
/Domain/obj
/ExpenseTrakcerHepler/obj
/Infrastructure/obj
/Application/bin/Debug/net8.0
/Domain/bin/Debug/net8.0
/ExpenseTrakcerHepler/bin/Debug/net8.0
/Infrastructure/bin/Debug/net8.0
